<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Área do Aluno | Exercícios</title>
    <link rel="stylesheet" href="../css/dashboard/all.css">

    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="../bootstrap/node_modules/bootstrap/compiler/bootstrap.css">

    <!-- FONTES -->
    <link rel="stylesheet" href="../font/fontawesome/css/all.min.css">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../img/Letra.png">

            </div>
            <div class="menu">
                <ul>
                    <li class="liberty">
                        <i class="fas fa-user"></i>
                        <a href="/area-aluno/perfil">Perfil</a>
                    </li>
                    <li class="liberty">
                        <i class="far fa-calendar-alt"></i>
                        <a href="/area-aluno/calendario">Calendário</a>
                    </li>
                    <li class="liberty">
                        <i class="far fa-list-alt"></i>
                        <a href="/area-aluno/lembretes">Lembretes</a>
                    </li>
                    <li class="selected">
                        <i class="fas fa-book-open"></i>
                        <a href="/area-aluno/listas-exercicios">Exercícios</a>
                    </li>
                    <li class="liberty">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <a href="/area-aluno/monitoria">Monitoria</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a class="header-home" href="/area-aluno"><i class="fas fa-home"></i> Home</a>
                <div id="sair">
                    <a>
                        <i class="fas fa-sign-out-alt"></i> Sair
                    </a>
                </div>
            </header>
            <div class="main-content exercicios">
                <div class="panel-row-exercicios">
                        <button class="panel panel-50-exercicios">Português</button>
                        <button class="panel panel-50-exercicios">Matemática</button>
                        <button class="panel panel-50-exercicios">Física</button>
                        <button class="panel panel-50-exercicios">Química</button>
                        <button class="panel panel-50-exercicios">História</button>
                        <button class="panel panel-50-exercicios">Biologia</button>
                        <button class="panel panel-50-exercicios">Inglês</button>
                </div>
            </div>
        </main>
    </div>

    <!-- SCRIPT'S PÁGINA -->
    <script src="../js/dashboard/sair.js"></script>

    <!-- SCRIPT BOOTSTRAP -->
    <script src="../bootstrap/node_modules/bootstrap/js/src/index.js"></script>
    
    <!-- SCRIPT FONTES -->
    <script src="../font/fontawesome/js/all.min.js"></script>
</body>

</html>