<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Área do Aluno | Monitoria</title>

    <link rel="stylesheet" href="../css/dashboard/all.css">

    <!-- CSS TOAST MESSAGE-->
    <link rel="stylesheet" href="../../css/dashboard/toast.css">

    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="../bootstrap/node_modules/bootstrap/compiler/bootstrap.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/boxicons@2.0.0/css/boxicons.min.css'>

    <!-- MAIN CSS DA PÁGINA -->
    <link rel="stylesheet" href="../css/dashboard/mainMonitoria.css">

    <!-- FONTES -->
    <link rel="stylesheet" href="../font/fontawesome/css/all.min.css">

    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../img/Letra.png">

            </div>
            <div class="menu">
                <ul>
                    <li class="liberty">
                        <i class="fas fa-user"></i>
                        <a href="/area-aluno/perfil">Perfil</a>
                    </li>
                    <li class="liberty">
                        <i class="far fa-calendar-alt"></i>
                        <a href="/area-aluno/calendario">Calendário</a>
                    </li>
                    <li class="liberty">
                        <i class="far fa-list-alt"></i>
                        <a href="/area-aluno/lembretes">Lembretes</a>
                    </li>
                    <li class="liberty">
                        <i class="fas fa-book-open"></i>
                        <a href="/area-aluno/listas-exercicios">Exercícios</a>
                    </li>
                    <li class="selected">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <a href="/area-aluno/monitoria">Monitoria</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main>
            <header>
                <a class="header-home" href="/area-aluno"><i class="fas fa-home"></i> Home</a>
                <div id="sair">
                    <a>
                        <i class="fas fa-sign-out-alt"></i> Sair
                    </a>
                </div>
            </header>
            <div class="main-content">
                <table id="table-monitores" class="table table-hover responsive nowrap" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>RA</th>
                            <th>Disciplina</th>
                            <th>Status</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody id="corpo-table">
                        <!-- CARREGADO NO DB -->

                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <!-- TOAST NOTIFICATION -->
    <div class="toast-message">
        <span class="close-message"></span>
        <div class="message">
            This is an Alert! But these are some junks to see how alert looks in long messages.
        </div>
    </div>
    <!-- TOAST NOTIFICATION -->

    <!-- SCRIPT'S PÁGINA -->
    <script src="../js/dashboard/sair.js"></script>
    <script src="../js/dashboard/carregar-monitores.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js'></script>
    <script src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js'></script>
    <script src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js'></script>
    <!-- SCRIPT BOOTSTRAP -->
    <script src="../bootstrap/node_modules/bootstrap/js/src/index.js"></script>

    <!-- SCRIPT FONTES -->
    <script src="../font/fontawesome/js/all.min.js"></script>
</body>

</html>