#corpoForm {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    transform: translateY(-5%);
  }
  
  #wrapper {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 100%;
    max-width: 40rem;
    background-color: #fff;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    z-index: 1;
  }
  
  .form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    background: linear-gradient(to left, #8c09c0, #1d95cc);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: -1;
  }
  
  .form-heading {
    color: #fff;
    font-weight: bold;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
  }
  
  #formCadastro {
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
  }
  
  .input-group input {
    position: relative;
    padding: 1rem 0;
    margin-top: 0.5rem;
    border: none;
    outline: none;
    font-size: 0.8rem;
    color: #1d95cc;
  }
  
  .input-group > i {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #1d95cc;
  }
  
  .input-group .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 1px;
  }
  
  .input-group .bar::before {
    content: "";
    position: absolute;
    background-color: #8c09c0;
    width: 0;
    height: 2px;
    transition: width 650ms;
  }
  
  .input-group input:focus + .bar::before {
    width: 100%;
  }
  
  .input-group button {
    margin: 1.3rem auto;
    padding: 0.5rem 3rem;
    background: linear-gradient(to left, #8c09c0, #1d95cc);
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3rem;
  }
  
.input-group button:hover {
    transform: scale(1.07);
    outline: none;
    transition: transform 0.6s;
  }

  .input-group button:not(:hover) {
    transform: scale(1.00);
    outline: none;
    transition: transform 0.6s;
  }
  
  .input-group button:active {
    transform: scale(0.96);
    transition: transform 0.1s;
  }
  
  .switch-login {
    text-align: center;
  }
  
  .switch-login span {
    font-weight: bold;
    text-decoration: none;
    color: #1d95cc;
    font-size: 1rem;
  }
  
  .switch-login span a {
    color: #8c09c0;
  }
  
  .switch-login span a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #1d95cc;
  }
  
  @media screen and (max-width: 700px) {
    .form-container::before {
      height: 10rem;
    }
  
    .form-heading {
      left: 50%;
      transform: translateX(-50%);
      font-size: 30px;
    }
  
    #formCadastro {
      border-radius: initial;
      transform: initial;
      box-shadow: none;
    }
  }
  @media screen and (max-width: 450px) {
    #corpoForm {
      transform: translateY(15%);
    }
  }
  @media screen and (max-width: 340px) {
    .form-heading {
      font-size: 25px;
    }
  
    #corpoForm {
      transform: translateY(25%);
    }
  }
  @media screen and (max-height: 400px) {
    #corpoForm {
      transform: translateY(60%);
    }
  }

  .warning {
    text-align: center;
  }
  
  .warning span {
    font-weight: bold;
    text-decoration: none;
    color: #c70f0f;
    font-size: 1rem;
  }